<script setup lang="ts">
import { onMounted } from 'vue';
import { useCollection } from '@/services/collection';
import { useSearch } from '@/services/search';
import Header from '@/components/Header.vue';
import ProductList from '@/components/ProductList.vue';

const { fetch, data, isFetching } = useCollection('COOLPC');
const { query, results } = useSearch(data, '');
onMounted(() => fetch());
</script>

<template>
  <div class="max-w-screen-xl mx-auto p-4 md:p-8">
    <Header v-model:query="query" />
    <ProductList class="my-4 md:my-8" :loading="isFetching" :data="results" />
  </div>
</template>
