<script setup lang="ts">
const props = defineProps({
  value: {
    type: String,
    required: true,
  },
})

const emit = defineEmits({
  click: (value: string) => typeof value !== 'undefined',
})

const handleClick = () => {
  emit('click', props.value);
};

</script>

<template>
  <span class="font-medium text-red-500 bg-gray-200 cursor-pointer p-0.2 px-1 mx-1 rounded" @click="handleClick">
    {{ props.value }}
  </span>
</template>
