<script setup lang="ts">
import { computed, ref, unref } from 'vue';
import { useHotkey } from '../utils/hotkey';
import { useVModel } from '@vueuse/core';
import type { ElInput } from 'element-plus';
import CodeSpan from './CodeSpan.vue';

const props = defineProps({
  query: {
    type: String,
    required: true,
  },
})

const emit = defineEmits({
  'update:query': (val: string) => typeof val === 'string',
})

useHotkey('ctrl+f, command+f, ctrl+k, command+k, ctrl+/, command+/, /', () => {
  unref(inputRef)?.focus();
  return false;
});

const inputRef = ref<typeof ElInput | null>(null);
const inputValue = useVModel(props, 'query', emit);
const isInputFocus = ref<boolean>(false);
const inputPlaceholder = computed<string>(() => {
  return unref(isInputFocus) ? '搜尋...' : '按下 "/" 搜尋...';
});

const handleInputBlur = () => {
  isInputFocus.value = false;
};
const handleInputFocus = () => {
  isInputFocus.value = true;
};

const isFixed = ref(false);
const handleAffixChange = (val: boolean) => {
  isFixed.value = val;
};

const handleQueryPreviewClick = (val: string) => {
  inputValue.value = val;
};


</script>

<template>
  <el-affix @change="handleAffixChange">
    <h1 class="text-2xl pb-4" v-show="!isFixed">
      工具人
    </h1>
    <div :class="['flex', { 'p-2': isFixed }]">
      <el-input v-model="inputValue" @blur="handleInputBlur" @focus="handleInputFocus" :ref="inputRef"
        :placeholder="inputPlaceholder" size="large">
        <template #append>
          <el-popover placement="bottom-end" trigger="hover" width="300px">
            <template #reference>
              <el-button>?</el-button>
            </template>
            <template #default>
              <div>
                <h2 class="text-lg font-black mt-2 mb-3">搜尋欄</h2>
                <p class="my-4">
                  快速全文搜尋想要的商品，依照輸入的詞去比對商品名稱、類別。
                </p>
                <h3 class="text-base font-black mt-2 mb-3">關鍵字搜尋</h3>
                <p class="my-4">
                  篩選出指定關鍵字的商品，支援多組關鍵字，用空白符號當作區隔。
                </p>
                <p class="my-4">
                  ex:
                  <CodeSpan value="Synology 5bay" @click="handleQueryPreviewClick" />
                  <br />
                  這邊有兩個關鍵字：Synology 跟 5Bay，會精準比對這兩個詞
                </p>
                <h3 class="text-base font-black mt-2 mb-3">價格搜尋</h3>
                <p class="my-4">篩選出指定價格、價格區間內的商品</p>
                <p class="my-4">
                  ex:
                  <CodeSpan value="$1000" @click="handleQueryPreviewClick" />
                  <br />
                  ex:
                  <CodeSpan value="$1000+" @click="handleQueryPreviewClick" />
                  <br />
                  搜尋一千元以上(包含)
                </p>
                <p class="my-4">
                  ex:
                  <CodeSpan value="$1000-" @click="handleQueryPreviewClick" />
                  <br />
                  搜尋一千元以下(包含)
                </p>
                <p class="my-4">
                  ex:
                  <CodeSpan value="$1000~2000" @click="handleQueryPreviewClick" />
                  <br />
                  搜尋一到兩千元之間(包含)
                </p>
              </div>
            </template>
          </el-popover>
        </template>
      </el-input>
    </div>
  </el-affix>
</template>
