<script setup lang="ts">
import type { ICollectionProduct } from '@/interfaces/collection-project';
import { computed, toRefs, unref, type PropType } from 'vue';

const props = defineProps({
  data: {
    type: Object as PropType<ICollectionProduct>,
    required: true,
  },
})

const { data } = toRefs(props);

const priceText = computed(() => {
  const _data = unref(data);
  return `$ ${_data.price}`;
});

</script>

<template>
  <div class="p-3 px-4 min-w-full bg-white hover:bg-opacity-12 hover:bg-gray-200">
    <div class="text-lg">{{ data.name }}</div>
    <div class="flex items-baseline">
      <div class="flex-1 text-sm text-gray-500">{{ data.category }}</div>
      <div class="flex-grow-0 text-lg flex-shrink-0 text-red-600">{{ priceText }}</div>
    </div>
  </div>
</template>
