<script setup lang="ts">
import { type PropType, toRefs, computed, unref } from 'vue';
import { VirtualListComponent, VirtualListItemComponent } from '@monku/virtual-list-vue';
import ProductItem from '@/components/ProductItem.vue';
import type { ICollectionProduct } from '@/interfaces/collection-project';

const props = defineProps({
  loading: {
    type: Boolean,
    default: false,
  },
  data: {
    type: Array as PropType<ICollectionProduct[]>,
    required: true,
  },
})

const { data, loading } = toRefs(props);

const isDataEmpty = computed(() => {
  const _data = unref(data);
  if (!_data || !Array.isArray(_data) || _data.length <= 0) return true;

  return false;
});
</script>

<template>
  <div class="border border-gray-300 rounded-md overflow-hidden">
    <template v-if="loading">
      <div class="bg-white py-2 px-4">載入中...</div>
    </template>
    <template v-else-if="isDataEmpty">
      <div class="bg-white py-2 px-4">沒有找到東西 QQ</div>
    </template>
    <template v-else>
      <VirtualListComponent class="overflow-hidden divide-y" :data="data" :defaultSize="79" :keeps="30" axis="y">
        <template #default="slotProps">
          <VirtualListItemComponent class="min-w-full" :data="slotProps" axis="y">
            <ProductItem :data="slotProps.data"></ProductItem>
          </VirtualListItemComponent>
        </template>
      </VirtualListComponent>
    </template>
  </div>
</template>
